---
layout: default
title: Book A Consultation
description: "Book a personal consultation with Decisive Resources to discuss your privacy, security, and intelligence needs with a dedicated advisor."
---

{% include header-home.html %}
<div class="container-full">
  <div class="container grid-xl">
    <div class="columns negative-m-s">
      <!-- Consultation content placeholder -->
      <div class="column col-12">
        <div class="card">
          <div class="card-body text-center my-4">

            <h3 class="text-bold"><img class="icon-services-page" src="/assets/tabler-icons/icons/calendar-week.svg" alt="Consultation"/> {{page.title}}</h3>
            <p class="mb-5">Your personal advisor is only a call away</p>

            {% include cal-embed.html cal_link="decisiveresources/consultation" %}

          </div>
        </div>
      </div>

    </div>
  </div>
</div>