---
layout: default
title: Home
description: "Decisive Resources delivers bespoke privacy management, vCISO cybersecurity, and OSINT investigation services for executives, family offices, and high-profile individuals worldwide."
---

{% include header-home.html %}
<div class="container-full">
  <div class="container grid-xl">
    <!-- Services Section -->
    <div class="columns negative-m-s index-services-container">
      {% for service in site.data.services %}
      <div class="column service-item my-1">
        <a href="{{ service.link }}">
          <div class="card card-link shadow">
            <div class="card-body text-center my-4">
              <div class="mb-3">
                <img class="icon-tabler" src="/assets/tabler-icons/icons/{{ service.icon }}.svg" alt="{{ industry.name }}"/>
              </div>
              <h5 class="text-bold">{{ service.name }}</h5>
              <p class="m-0">{{ service.description }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %} 
    </div>

    <!-- Industries Section -->
    {% include industries.html %}

    <!-- Blog Section -->
    {% include blog-front-page.html %}

  </div>
</div>