---
layout: default
title: Book A Meeting
description: "Schedule a meeting with the Decisive Resources team to discuss your privacy management, cybersecurity, or investigative needs."
---

{% include header-home.html %}
<div class="container-full">
  <div class="container grid-xl">
    <div class="columns negative-m-s">
      <!-- Consultation content placeholder -->
      <div class="column col-12">
        <div class="card">
          <div class="card-body text-center my-4">
            <h3 class="text-bold"><img class="icon-services-page" src="/assets/tabler-icons/icons/calendar-week.svg" alt="Meeting"/> {{page.title}}</h3>
            <p class="mb-5">Your personal advisor is only a call away</p>

            {% include cal-embed.html cal_link="decisiveresources/meeting" %}

          </div>
        </div>
      </div>

    </div>
  </div>
</div>