<head>
  <meta charset="UTF-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% seo title=false %}
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fonts.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  <link href="{{ site.url }}{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 

  <!-- Preload critical icons -->
  <link rel="preload" href="{{ site.baseurl }}/assets/tabler-icons/icons/article.svg" as="image">
  <link rel="preload" href="{{ site.baseurl }}/assets/tabler-icons/icons/brand-linkedin.svg" as="image">
  <link rel="preload" href="{{ site.baseurl }}/assets/tabler-icons/icons/brand-twitter.svg" as="image">
  <link rel="preload" href="{{ site.baseurl }}/assets/tabler-icons/icons/mail.svg" as="image">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/icon/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>
