<div class="card text-center mb-4">
  <div class="card-body m-1">
    {% assign current_product = site.data.products | where: "name", page.title | first %}
    <h2 class="pt-2">
      {% if current_product %}
      <img class="icon-services-page" src="/assets/tabler-icons/icons/{{ current_product.icon }}.svg" />
      {% endif %}
      {{ page.title }}
    </h2>
    {% if page.subtitle %}
    <h4 class="pt-2 text-secondary pb-3">
      {{ page.subtitle }}
    </h4>
    {% endif %}
    {% if include.show_image %}
      {% if page.image %}
      <div class="post-image-container">
        <img class="post-cover-image" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}"
          title="{{ page.title }}" loading="lazy" />
      </div>
      {% else %}
      <div class="post-image-container">
        <img class="post-cover-image" src="{{ site.baseurl }}/assets/post-images/default.jpg" alt="{{ page.title }}"
          title="{{ page.title }}" loading="lazy" />
      </div>
      {% endif %}
    {% endif %}
  </div>
</div>
