<!-- Pagination
================================================== -->
<div class="bottompagination my-3">
  <div class="pointerup text-center">
    <a href="#top">
      <img src="/assets/tabler-icons/icons/caret-up.svg" alt="Arrow Up" title="Back to Top" />
      </a>
  </div>
  <nav class="navigation">
      <hr>
      {% if paginator.total_pages > 1 %}
      <ul class="pagination">

          <li class="page-item{% unless paginator.previous_page %} disabled{% endunless %}">
            <a class="ms-1 me-1 page-link" href="{{ paginator.previous_page_path | default: '#' }}">&laquo; Prev</a>
          </li>
          {% for page_num in (1..paginator.total_pages) %}
            <li class="page-item{% if page_num == paginator.page %} disabled{% endif %}">
              {% if page_num == paginator.page %}
                <a class="ms-1 me-1 page-link disabled">{{ page_num }}</a>
              {% else %}
                <a class="ms-1 me-1 page-link" href="{% if page_num == 1 %}/blog/{% else %}/blog/page{{ page_num }}/{% endif %}">{{ page_num }}</a>
              {% endif %}
            </li>
          {% endfor %}
          <li class="page-item{% unless paginator.next_page %} disabled{% endunless %}">
            <a class="ms-1 me-1 page-link" href="{{ paginator.next_page_path | default: '#' }}">Next &raquo;</a>
          </li>
      </ul>
      {% endif %}
  </nav>

</div>
